```css
body{
font-family:Arial;
margin:0;
background:#f4fff4;
text-align:center;
}

header{
background:#2e7d32;
color:white;
padding:30px;
}

section{
padding:30px;
}

#tema{
position:fixed;
right:10px;
top:10px;
border:none;
padding:10px;
cursor:pointer;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 0 10px #ccc;
}

.card img{
width:200px;
height:150px;
object-fit:cover;
border-radius:10px;
}

button{
background:#2e7d32;
color:white;
border:none;
padding:10px;
margin:5px;
cursor:pointer;
}

.dark{
background:#111;
color:white;
}

.dark .card{
background:#222;
}

footer{
background:#2e7d32;
color:white;
padding:20px;
}
```
